all {
	saturation: -100;
}

landscape {
	color: cyan;
}

water {
	color: #0c0;
	saturation: '100';
}

poi, :labels.icon {
	visibility: "off";
}

/* this rule will be ignored since it's invalid */
:trees {
	hue: #bbb;
}